<section class="highlight-section" data-scroll-trigger="group">
	<div class="highlight-section__ill" aria-hidden="true">
		<div class="highlight-section__ill-inner js-anim-item">
			{{> illustrations/ball-ill}}
		</div>
	</div>

	<p class="highlight-section__title highlight-section__title--right js-anim-item">
		המאפשר החכם <br />
		ביותר של בינה <br />
		מלאכותית יצרנית.
	</p>
	<p class="highlight-section__title highlight-section__title--left js-anim-item">
		מופעל על ידי <br />
		מחקר <br />
		חדשני.
	</p>
</section>