<section class="platform-pw" id="platform-pw" data-scroll-trigger="group">
	<div class="divider-label platform-pw__divider js-divider-label js-anim-item">
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5 js-divider-label-text">למפתחים</p>
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<div class="platform-pw__content">
		<p class="h2 platform-pw__title js-anim-item">פלטפורמת Prem</p>

		<p class="platform-pw__desc js-anim-item rtl-text-right">
			שחרור היעילות של בינה מלאכותית כרוך במשימות מורכבות כמו הנדסת פרומפטים, הערכה, RAG, כוונון עדין
			ופריסה. הפלטפורמה של Prem מפשטת תהליכים אלה, ומאפשרת לכל אחד לנצל את הפוטנציאל המרבי של בינה מלאכותית
			ללא מאמץ, גם ללא מומחיות עמוקה.
		</p>

		<img src="./images/platform-frame-1.png" alt="Prem Platform models"
			class="platform-pw__image platform-pw__image--first js-anim-item" />
		<img src="./images/platform-frame-2.png" alt="Prem Platform playgrounds"
			class="platform-pw__image platform-pw__image--second js-anim-item" />
		<img src="./images/platform-frame-3.png" alt="Prem Platform Projects"
			class="platform-pw__image platform-pw__image--last js-anim-item" />
	</div>

	<div class="platform-pw__ill js-anim-item" aria-hidden="true">
		{{> illustrations/isometric-grid}}
	</div>

	<div class="platform-pw__ctas js-anim-item">
		{{#>button tag="a" href="./for-developers.html" }} גלה עוד {{/button}}
		{{#>button tag="a" href="https://app.premai.io/accounts/signup/"
		target="_blank" rel="noopener" theme="secondary" }} הרשמה {{/button}}
	</div>
</section>