<section class="solution" id="solution">
	<div class="divider-label solution__label" data-scroll-trigger="item">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">לעסקים</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 solution__title" data-scroll-trigger="item">פתרון Prem</p>

	<div data-scroll-trigger="anim-group">
		<div class="solution__features js-anim-group">
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/shield}}</div>
				<p class="solution__feature-text rtl-text-right">
					ריבונות ובעלות על נתונים: השג עצמאות מ-OpenAI תוך מעבר חלק למגוון
					מודלים איכותיים בקוד פתוח וקנייניים, תוך שמירה על שליטה מלאה בהון האינטלקטואלי שלך.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/trade}}</div>
				<p class="solution__feature-text rtl-text-right">
					התאמה אישית: כוונון עדין ואימון מודלים בהתאם לצרכים שלך, המספקים גמישות
					וביצועים אופטימליים.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/tower}}</div>
				<p class="solution__feature-text rtl-text-right">
					מקומי: הפעל מודלי בינה מלאכותית בתשתית שלך, ללא סיכון גישה של צד שלישי. שמור
					על שליטה בנכסי מידע רגישים.
				</p>
			</article>
		</div>
	</div>

	<div class="l-divider solution__divider" data-scroll-trigger="item" aria-hidden="true">
		{{> illustrations/divider}}
	</div>

	<div class="solution__stats-container glow-rad__section js-glow-cards" data-scroll-trigger="anim-group">
		<div class="solution__stats js-anim-group">
			<article class="solution__stat glow-rad__item js-glow-card js-anim-item">
				<p class="solution__stat-title h2">15+</p>
				<div class="solution__stat-text h5">
					לקוחות ארגוניים שקיבלו שירות בהצלחה
				</div>

				<div class="glow-rad" aria-hidden="true"></div>
			</article>

			<article class="solution__stat glow-rad__item js-glow-card js-anim-item">
				<p class="solution__stat-title h2">20k</p>
				<div class="solution__stat-text h5">משתמשים שקיבלו שירות בפלטפורמה שלנו</div>

				<div class="glow-rad" aria-hidden="true"></div>
			</article>

			<article class="solution__stat glow-rad__item js-glow-card js-anim-item">
				<p class="solution__stat-title h2">30+</p>
				<div class="solution__stat-text h5">מודלים מאומנים / מכווננים.</div>

				<div class="glow-rad" aria-hidden="true"></div>
			</article>
		</div>
	</div>

	<div class="solution__cta" data-scroll-trigger="item">
		{{#>button tag="a" href="./contact.html" }} תאם שיחה {{/button}}
	</div>
</section>