<section class="vision">
	<p class="h2 vision__title" data-scroll-trigger="item">החזון שלנו</p>
	<p class="h4 vision__text rtl-text-right" data-scroll-trigger="item">
		עתיד שבו לכל אדם יש גישה למודלים חזקים, פרטיים ומותאמים אישית, המבטיחים
		שהיתרונות המהפכניים של בינה מלאכותית מופצים בצורה שוויונית.
	</p>

	<div class="vision__ill" data-scroll-trigger="item">
		<img src="./images/vision-ill.png" alt="איור חזון" draggable="false" loading="lazy" />
		<div class="vision__bg" aria-hidden="true"></div>
	</div>
</section>